.cardgrid-title {
	color: #38a1f3;
	font-size: 1.4rem;
	padding-top: 20px;
	text-align: center;
}
.cardgrid-wrapper {
	padding: 40px 20px;
}
.masonry {
	/* Masonry container */
	margin: 2px auto;
	max-width: 1000px;
	text-align: center;
	// column-gap: 2px;
}
/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
	.masonry {
		column-count: 4;
	}
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
	.masonry {
		column-count: 3;
	}
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
	.masonry {
		column-count: 2;
	}
}
