.cardgrid-title {
	color: #38a1f3;
	font-size: 1.4rem;
	padding-top: 20px;
	text-align: center;
}
.cardgrid-wrapper {
	padding: 40px 20px;
}
.masonry {
	/* Masonry container */
	margin: 2px auto;
	max-width: 1000px;
	text-align: center;
	// column-gap: 2px;
}

/* RESPONSIVE STYLING
----------------------------------------------------------------------- */
// Masonry on small screens
@media only screen and (max-width: 600px) {
	.masonry {
		column-count: 2;
	}
}
// Masonry on small screens in landscape orientation
@media only screen and (orientation: landscape) {
	.masonry {
		column-count: 3;
	}
}
// Masonry on med screens in landscape orientation
@media only screen and (max-width: 700px) and (orientation: landscape) {
	.masonry {
		column-count: 4;
	}
}
// Masonry on large screens
@media only screen and (min-width: 1200px) {
	.masonry {
		column-count: 4;
	}
}
