.cardgrid-title {
	color: #38a1f3;
	padding-top: 20px;
	text-align: center;
}
.cardgrid-wrapper {
	padding: 20px;
}
.masonry {
	margin: 2px auto;
	max-width: 1000px;
	text-align: center;
}
/* RESPONSIVE STYLING
----------------------------------------------------------------------- */
// Button layout on large screens
@media only screen and (min-width: 900px) {
	.masonry {
		column-count: 3;
	}
	.cardgrid-title {
		font-size: 1.2rem;
	}
}
// Button layout on medium screens
@media only screen and (max-width: 899px) {
	.masonry {
		column-count: 2;
	}
	.cardgrid-title {
		font-size: 1rem;
	}
}
// Button layout on small screens
@media only screen and (max-width: 600px) {
	.masonry {
		column-count: 1;
	}
	.cardgrid-title {
		font-size: .7rem;
	}
}
// Button layout in landscape orientation
@media only screen and (orientation: landscape) {
	.masonry {
		column-count: 3;
	}
	.cardgrid-title {
		font-size: 1.2rem;
	}
}
