.location-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	column-gap: 20px;
	row-gap: 20px;
	width: 100%;
}
.selection-wrapper {
}
.flag-wrapper {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 90px;
	width: 90px;
}
.flag-image {
	margin: 4px;
	height: 32px;
	width: 32px;
}
/* HIDE RADIO */
[type=radio] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}
[type=radio] + label {
	color: gray;
}
/* IMAGE STYLES */
[type=radio] + label > img {
	height: 40px;
	width: 40px;
	cursor: pointer;
}
/* CHECKED STYLES */
[type=radio]:checked + label {
	color: purple;
	font-weight: bolder;
	text-decoration: underline;
}
[type=radio]:checked + label > img {
	height: 50px;
	width: 50px;
	border: solid 3px #38a1f3;
	border-radius: 60px;
	box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.5), -4px -4px 6px 0 rgba(255, 255, 255, 0.7);
}
