.inputs-wrapper {
	align-items: center;
	// border: solid 3px red;
	border-bottom: solid 3px black;
	display: flex;
	flex-direction: column;
  justify-content: center;
	margin-bottom: 20px;
	padding: 20px;
}
.search-wrapper {
	align-items: center;
	// border: solid 1px red;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 30px;
	width: 35%;
}
.search-icon {
	color: gray;
	font-size: 1.5rem;
}


/* Styling for the Autosuggest elements (ie. react-autosuggest__)
---------------------------------------------------------------------*/
.react-autosuggest__container {
	// border: solid 1px purple;
	width: 100%;
}
.react-autosuggest__input {
	border: none;
	border-radius: 60px;
	box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
	font-size: 12px;
	font-style: italic;
	padding: 10px;
	width: 93%;
}
.react-autosuggest__suggestions-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}


/* General styling applied last
---------------------------------------------------------------------*/
.centered-h {
	margin-left: auto;
	margin-right: auto;
	// width: 50%;
}

