.inputs-wrapper {
	align-items: center;
	border-bottom: solid 3px black;
	display: flex;
	flex-direction: column;
	padding: 20px;
}
.search-wrapper {
	// align-items: center;
	// border: solid 1px orange;
	display: flex;
	flex-direction: row;
	margin: 10px;

	position: relative;
	// text-align: center;
	width: 50%;
}
.search-icon {
	color: gray;
	font-size: 1.5rem;
	position: absolute;
	top: 8px;
	left: 0;
}
// Styling for the Autosuggest elements (ie. react-autosuggest__)
.react-autosuggest__container {
	// border: solid 1px purple;
	margin: 10px;
	width: 100%;
}
.react-autosuggest__input {
	border: solid 1px black;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 30px;
	width: 85%;
}
.react-autosuggest__suggestions-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 44px;
	left: 30px;
	width: 100%;
}
