.inputs-wrapper {
	align-items: center;
	border: solid 3px black;
	display: flex;
	flex-direction: column;
	padding: 20px;
}
.search-wrapper {
	align-items: center;
	border: solid 1px orange;
	display: flex;
	flex-direction: row;
	width: 40%;
}
.react-autosuggest__suggestions-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
}
