.wiki-tweets-wrapper {
	// border: solid 1px green;

	align-items: center;
	display: flex;
	flex-direction: column;
}
.main-button {
	background-color: white;
	border-radius: 60px;
	box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.3), -6px -6px 10px 0 rgba(255, 255, 255, 0.7);
	border: none;
	color: rgb(50, 50, 50);
	font-size: .9rem;
	height: 4.5rem;
	line-height: 1.8;
	margin: 2rem;
	width: 100%;
}
.main-button--inactive {
	border: none;
	box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
	color: rgb(150, 150, 150);
}
#cityName {
	color: #38a1f3;
}
button:focus {
	outline: 0;
}

/* RESPONSIVE STYLING
----------------------------------------------------------------------- */
// Button layout on small screens
@media only screen and (max-width: 600px) {
	.main-button {
		font-size: .5rem;
		height: 3rem;
	}
}
// Button layout in landscape orientation
@media only screen and (orientation: landscape) {
	.main-button {
		font-size: .9rem;
		height: 4.5rem;
	}
}
