body,
div {
	background-color: white;
	box-sizing: border-box;
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
